<!doctype html>
<html>
    <head>
        {{> mixfindr/templates/header}}    
    </head>
    <body>
        <div class="container">
            <h1 class="huge title"><span>Mixfindr</span></h1>
            <p class="description">Find a mix featuring your favorite artist, or use your <br/> last.fm account to find mixes.</p>
        </div>
        {{> mixfindr/templates/search-bar}}
        <div class="container error">
            <h1>Error: something went wrong. Try again later!</h1>
        </div>
    </body>
</html>