/* `fonts
----------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Comfortaa:700);
/*@import url(http://fonts.googleapis.com/css?family=Michroma);*/


/* `generic
----------------------------------------*/

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2OUk5f5//XrNwYYYBQWEfoP5wEZcAFubi4GkEoMFQC1eQrlYxFZWwAAAABJRU5ErkJggg==);
    repeat: repeat;
}

h1 {
    color: #fff;
}

.error h1 {
    padding: 14px 0 14px 0;
}

/* `search
----------------------------------------*/

.search .span6 {
    box-shadow: 7px 7px 0px #222;
    /*border-radius: 10px;*/
    float: left;
}

.search .span6 .border {
    border-bottom: 1px solid #e620a1;
    border-right: 1px solid #e620a1;
    width: 100%;
    float: left;
    padding-bottom: 14px;
}

.search-field {
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-field h3 {
    color: #ddd;
}

a.search-this-artist {
    font-size: 10px;
    display: inline-block;
    margin-left: 13px;
}

h4.artist-name {
    display: inline-block;
    color: #fff;
}

.search input.search-query {
    -moz-box-shadow:    inset 0 0 10px #333;
    -webkit-box-shadow: inset 0 0 10px #333;
    box-shadow:         inset 0 0 10px #333;
    border:1px solid #20dfe6;
    background: #222;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #e620a1;
}

.search .btn {
    /*-moz-box-shadow:    0 0 10px #666;*/
    /*-webkit-box-shadow: 0 0 10px #666;*/
    /*box-shadow:         0 0 10px #666;*/
    border-radius: 0;
    color: #fff;
    background: #181118;
    text-shadow: none;
    border: 1px solid #20dfe6;
}

.search .btn:hover {
    background: #e620a1;
}

/* `title
----------------------------------------*/

h1.title.huge {
    font-size: 10em;
    text-align: center;
    border: none;
}

h1.title {
    position: relative;
    color: #333;
    font-family:'Comfortaa', helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    -webkit-background-clip: text;
    /*border-bottom: 1px solid #222;*/
    padding-bottom: 14px;
    /*text-shadow: 4px 4px 15px #fff;*/
}

h1.title span {
    text-decoration: none;
    /*color: #79e620;*/
    /*color: #52ff42;*/
    color:#ccc;
    position: absolute;  
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    -webkit-background-clip: text;
}

h1.title:after {  
    content : 'Mixfindr';  
    color: #000;  
    /*text-shadow: 5px 5px 1px #023233;*/
    text-shadow: 5px 5px 1px #222;
}

.description {
    color: #eee;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.3em;
    letter-spacing: 1px;
    padding-bottom: 10px;
}


/* `anchors
----------------------------------------*/

a {
    color: #20dfe6;
}


/* `results
----------------------------------------*/

.result h1 {
    /*color: #52ff42;*/
    color: #fff;
    font-size: 2.5em;
    line-height: 1.5em;
    margin-top: 24px;
    padding: 14px 0 14px 0;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
}

.result li {
    color: #fff;
}

.result h4 {
    color: #fff;
}

.result a {
    color: #20dfe6;
}

.result a:visited {
    color: #e620a1;
}
